<div class="explain">
    <button class="howto-menu-toggle" data-target="howto">How to use</button><button class="explain-menu-toggle">Explain</button>
    <div class="explain-menu">
        <button data-target="investigation">Investigation</button><button data-target="logbook">Log book</button><button data-target="poster">Poster</button>
    </div>
</div>
<div class="overlay"></div>
<div id="investigation" class="help">
    <h2>Investigation</h2>
    <p>The following section will give you a brief rundown on conducting a scientific experiment. If your teacher has provided you with a topic, that’s okay, this section will still be helpful</p>
    <h3>Getting started</h3>
    <p>Actually choosing a topic or area of study for your investigation can be difficult. A great place to start is thinking about a topic you found interesting or enjoyable! Take a look at the current study design to jog your memory of topics you covered throughout the year. You’ll be researching this topic for a while&mdash;so don’t choose something you’ll be bored of after the first lesson!</p>
    <p class="hint"><i>Choose a topic that has a good amount of information already available&mdash;this will make your background research and discussion easier</i>.</p>
    <h3>Research question</h3>
    <p>Now that you’ve chosen your topic area, it’s time to design your research question. Doing this can be confusing but remember: scientific questions usually start with How, What, When, Who, Which, Why or Where. Your question should also contain one variable you can change and one variable you can measure.</p>
    <p>Ask your teachers advice if you are unsure about the variable in your question!</p>
    <p>Once you have your research question, it’s time to design and conduct your experiment! There are several things you need to consider when designing your experiment. These are outlined on the following pages.</p>
    <h3>Is your experiment actually science?</h3>
    <p>You need to take into account the variables you’re trying to measure. Will manipulating the variables produce a result that can be observed or measured and does it answer your question?</p>
    <p>Remember: if you cannot observe or measure your results, you are not doing science!</p>
    <h3>Is your test fair?</h3>
    <p>You’ll need to make sure that your test only requires one variable to be changed at a time and the others remain controlled. This lets you know that it is the change of variables causing the results and not something interfering with them.</p>
    <h3>Is your experiment safe and ethically sound?</h3>
    <p>You need to ensure that the experiment you have chosen doesn’t put you or anyone else at risk of injury or harm. There are very strict laws surrounding what you can and cannot do in an experiment in science, without special approval. For example, your experiment cannot include any vertebrate animal (animal with a backbone). If you are unsure of the safety or ethics of your experiment, ask your teacher for their opinion and advice.</p>
    <h3>Do you have the money and equipment to perform this experiment?</h3>
    <p>Be realistic in your design! There’s no use trying to grow a tree in a day&mdash;give yourself enough time to do your experiment properly. Start planning as soon as you get this task so that you give yourself an appropriate time frame! Remember: though it’s great to be ambitious, be aware of your limitations.</p>
    <h3>Conducting your experiment</h3>
    <p>Actually conducting your experiment can be daunting. Make sure you are well prepared before you actually start the experiment. Read through your procedure and make sure you understand it. Have all of your equipment, materials and logbook ready and on hand. Think about the safety requirement of your experiment and ensure you have necessary safety gear&mdash;such as a lab coat or gloves.</p>
    <p>It is important that you follow your method carefully and make sure you record everything that you are doing. It may be helpful to have your data collection section already drawn up so that all you have to do is fill it in.</p>
    <p class="hint"><i>Mistakes are fine! But to avoid disappointment on the day, do a trial run to help iron out any flaws in your experimental design</i>.</p>
</div>
<div id="logbook" class="help">
    <h2>Log book</h2>
    <h3>Getting Started</h3>
    <p>So, what is a log book? Well, you can think of your log book as your science journal! It is a record of everything you do throughout this experiment. Keeping a good logbook can be very helpful to scientists&mdash;whether you forget what you’ve done and need a reminder, or you want to repeat your experiment and need to know exactly what steps you took.</p>
    <p>This section will explain how to keep a scientific logbook and give you tips and tricks on how to make it work well for you!</p>
    
    <h4>What to use</h4>
    <p>Before getting started on the contents, you may like to think about what kind of book you are going to use! Generally, scientists will use a hard cover, bound book or any book that it is hard for pages to fall or be pulled out of. This makes sure you don’t lose any vital information.</p> 
    <p>Ask your teacher if you aren’t sure if your book choice will work.</p>  
    
    <h4>Label your logbook</h4>
    <p>The first thing you should do is label your logbook. This makes sure that if you lose it, someone can give it back to you if it’s found!</p>
    <p>On the first page, write your name, your class and your teachers name or any other contact information you need.</p>
    <p class="hint"><i>It may also be helpful to write the title of your project and the year</i>.</p>
    
    <h4>Number your pages</h4>
    <p>Make sure your pages are numbered. This will help keep your logbook organised, and make it easier to create a table of contents later  on. It will also make it easier for you when you refer back to your logbook for different information.</p>
    <p class="hint"><i>You may like to make your table of contents as you go.  So, each time you make a new entry, add it to your contents table</i>.</p>

    <h4>Date your entries</h4>
    <p>Always date your entries! It doesn’t matter if the entry is short&mdash;it needs to be dated. This will help keep your logbook as a sequential record of your experiment.</p> 

    <h4>Blank and missing pages</h4>
    <p>There should be NO blank or missing pages in your logbook. If you accidentally skip a page, simply put a large cross through the page to show that it is not to be used.</p>
    <p class="hint"><i>Some scientists cross out unused spaces in their work. as well as blank pages. This makes sure you, or someone else, doesn’t add anything in later. It also lets you know that the space is supposed to be blank and nothing has fallen out of the book</i>.</p>

    <h4>Keep it secure</h4>
    <p>If you want to add something in, that’s okay! You can add other material into your logbook as long as it is secure. Make sure you glue or sticky tape any loose pages or notes so that they don’t fall out or get damaged.</p>
    <p class="hint"><i>Print digital materials, like pictures, out and secure them in your notebook where necessary. Doing things like taking pictures of your set up may be helpful with your write up and scientific poster</i>!</p>

    <h4>Keep it brief and legible</h4>
    <p>Not all of your entries need to be in depth paragraphs&mdash;they don’t even need to be full sentences! So long as you give all the necessary information that you and other scientists can understand, you can write it however you want. Also, try and keep your writing as neat as you can.</p>
    <p class="hint"><i>Ask yourself: will another scientist be able to recreate this experiment using only the notes in my logbook. If the answer is yes, you’re doing well</i>!</p>

    <h4>When to use it</h4>
    <p>Any time you do any part of your experiment, you should record it in your logbook. You want to have a record of every detail, so you need to have your book on you at all times throughout the experiment.</p>
    <p class="hint"><i>It may be a good idea to set aside time each time you do your experiment to write in your logbook. Making it part of your method may be helpful</i>.</p>
    
    <h3>Keeping track</h3>
    <p>You now know how to keep a logbook, but knowing what content to put in it can be confusing.</p>
    <p>The following section will give you a brief idea of what you should be including. If you would like a more detailed description of each of the sections outlined, ask your teacher for help.</p> 

    <h4>Plan</h4>
    <p>From the very start of your investigation process, you should be recording in your logbook. Including entries such as which topics you find interesting or wish to know more about may help you to formulate a research question. You should include your aim/s, hypothesis and variables, too.</p> 
    <p class="hint"><i>It may take you more than one shot to make your aim or research question accurate and testable- keep a record of all of your attempts</i>.</p> 

    <h4>Research</h4>
    <p>You should keep a record of any research you conduct for this experiment- including background information. Keeping a summary of any articles, journals or books you read or any interviews you conduct will also  make writing your poster easier. You may also like to keep notes of any suggestions or help you get from teachers or others scientists.</p>
    <p class="hint"><i>Keep a record of your references as you would write them in your bibliography to make it easier when you come to write it</i>.</p>

    <h4>Materials</h4>
    <p>Keep an accurate record of ANY and ALL materials and equipment you use to conduct this experiment. It may be helpful to take note of specific brands, quantities and costs!</p>
    <p>Making this section as accurate as possible will help you if you need to recreate your experiment or even if it doesn’t go as planned and you need to see where you went wrong!</p>

    <h4>Method</h4>
    <p>Be sure to record EVERY detail of your experimental design, set up and procedure. Documenting what you did and how you did it is necessary not only so you can recreate the experiment later, but to refer back to in your write up. If you make any changes to your procedure or design, make sure to note these down!</p>
    <p class="hint"><i>If you make a mistake or it doesn’t go as planned- that’s okay! Make a note of where you went wrong so you can avoid the same mistakes when you repeat your experiment</i>!</p> 

    <h4>Data collection</h4>
    <p>As you conduct your experiment, you’ll need to record your findings. It is very important that you record your data as accurately as possible as this will inform your conclusions! Using visual records such as diagrams can be great- where appropriate. When using a diagram, remember to date and label (or annotate) the drawing. </p>
    <p class="hint"><i>Knowing how you’ll be recording your data before you start the experiment will be very helpful</i>.</p>

</div>
<div id="poster" class="help">
    <h2>Poster</h2>
    <p>A scientific poster is one way in which scientists present their findings. They allow for interaction between the researching scientist and their viewing audience and are usually presented with some form of verbal communication. The following section will outline what you should include on your scientific poster.</p>
    <h3>Preparation</h3>
    <p>Before you start on the content, you need to decide how you’ll be creating your poster (your teacher may have specific instructions). You’ll need to find out the dimensions of the poster you’ll be creating as well as the orientation (portrait or landscape). You’ll also need to decide if you are going to use a program such as PowerPoint  to create your poster or if you’ll be making it by hand on poster paper.</p> 
    <p class="hint"><i>You can change to size of PowerPoint slides to suit your dimensions and simply print out the poster</i>.</p>
    <h3>Layout</h3>
    <p>Even before you start writing your content, you need to think about the layout of your poster. Make sure it follows a logical sequence so it is easy to read. Also, try not to make your poster to crowded or cluttered and use headings and subheadings to make the different sections easy to identify.</p>
    <h3>Design</h3>
    <p>Choosing the right design for your poster is important. It needs to be visually appealing whilst still remaining professional&mdash;try to steer clear of busy patterns and jarring colours! The font you use needs to be clear and easy to read.</p>
    <p>Remember: layout and design are very important parts of the scientific poster. A poor layout and design can detract from even the best scientific research, so plan carefully!</p>
    <h3>The contents</h3>
    <p>This is the part where you get to communicate all the hard work you’ve been doing with your fellow scientists! The contents of a scientific poster should be the same as a scientific report&mdash;though much less detailed. A good scientific poster communicates all the most important information whilst keeping it short and succinct.</p>
    <p class="hint"><i>You may find it helpful to write out a full scientific report and then cut it right back to fit the requirements of the poster</i>.</p>
    <h3>Report structure</h3>
    <p>Like you’ve just read, the structure of the scientific poster is much the same as a normal scientific report. Below is a brief description of each section. (Keep in mind that your teacher may want these section set out differently).</p>
    <h4>Title</h4>
    <p>Coming up with the title may seem easy, but there’s a few things you need to keep in mind. Your title needs to provide and clear and concise description of your project so that they know what they’re about to read. The title shouldn’t be more than two lines in length.</p>
    <p>On your poster, it should be written in the largest font and should have your nae written directly underneath it.</p>
    <h4>Introduction</h4>
    <p>The introduction is where you engage your reader. It should include relevant background information, your aim, and hypothesis. Try to keep your introduction as short and succinct as possible without cutting out important information.</p> 
    <p>Remember: the introduction sets up the rest of your piece so keep it interesting, factual and easy to read.</p>
    <h4>Materials and method</h4>
    <p>Your methods and materials must be as accurate as possible. Your materials section can be written as a list but be sure to give precise quantities. The method can be written either as a list (like a recipe) or as a paragraph. This will depend on your teachers specifications but remember to keep it as clear and precise as you can.</p>
    <p>Other scientists should be able to understand exactly what and how you conducted your experiment from this section alone!</p>
    <h4>Results</h4>
    <p>The results section is where you present the data you collected. As well as any graphs, tables or diagrams you use, you must include a written section presenting what is being shown. Be careful not to discuss the results rather than simply stating what they are communicating.</p>
    <p>Remember: your tables, graphs and diagrams need appropriate titles and labels. If you are unsure on how to do this&mdash;ask your teacher!
</p>
    <h4>Discussion and conclusion</h4>
    <p>This is where you discuss your results and whether or not your hypothesis was supported. Use your background research to inform and explain your results and why/how they occurred. This section may also include a brief description of any further research you think should be conducted in the field.</p> 
    <p>Your teacher may want these sections to be presented separately.</p>
    <h4>References and acknowledgements</h4>
    <p>Referencing your work correctly is VERY important. Referencing shows that you have researched your topic thoroughly and also prevents you from being accused of plagiarism. It is also good scientific practice to acknowledge any individuals who help you to complete your experiment.</p>
    <p>Ask your teacher what style of referencing they want you to use!</p>
    <h4>Abstract</h4>
    <p>The abstract is a VERY brief summary of the entire report. It should include roughly one sentence from each section (background information, aim and hypothesis, method, results, discussion and conclusion). You should try to keep it  under 100 words!</p>
</div>
<div id="howto" class="help">
    <h2>How to use this website</h2>
</div>