/* apply a natural box layout model to all elements, but allowing components to change */
html, body {
    min-height: 100%;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

figure {
    margin: 1em 0;
}

/* helpers */
.center-align {
    text-align: center;
}