/* internal header */
header.internal {
    padding: 0 10px;
    background: #f2f2f2;
    text-align: center;
    @media only screen and (min-width: 64em) {
        //height: 100px;
        padding: 50px 0 5px 140px;
        text-align: left;
    }
    p {
        font-family: 'PT Mono', monospace;
        margin: 0;
        font-size: 1em;
        text-transform: uppercase;
        color: $red;
        max-width: 100%;
    }
    a, a:visited {
        color: $red;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

/* road */
.road-wrapper {
    max-width: 500px;
    margin: 0 auto;
}
.road {
	position: relative;
    padding-top: 2em;
	padding-bottom: 75%; /* 16:9 */
	height: 0;
}
.road nav {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: url('../img/road.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 1.4em;
    .planning {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .conducting {
        position: absolute;
        top: 32%;
        left: 50%;
        transform: translateX(-50%);
    }
    .creating {
        position: absolute;
        top: 64%;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* major steps */
.major-steps {
    text-align: center;
    padding: 1em;
    h1, a {
        margin: 0 5px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    
    }
    h1 {
        display: inline;
    }
    a {
        text-decoration: none;
        color: #666;
        &:hover {
            color: $darkblue;
            text-decoration: underline;
        }
    }
}

/* steps */
.swipe {
    margin: 0;
    color: $blue;
    max-width: 100%;
    text-align: center;
    font-size: 0.8em;
}

.steps {
    counter-reset: step-counter;
    padding: 0 10px;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.step {
    counter-increment: step-counter;
    &:before {
        content: "Step "counter(step-counter);
        display: block;
        padding: 10px;
        background: $red;
        width: 25%;
        text-align: center;
        color: white;
    }
    display: inline-block;
    vertical-align: text-top;
    white-space: normal;
    width: 320px;
    height: 360px;
    max-width: 90%;
    margin-right: 5px;
    border: 1px solid $blue;
    padding: 0.5em;
}

/* profile */
.about {
	margin-top: 1em;
}
.profile-content {
    position: relative;
}
figure {
    padding: 4em 1em;
}
.text {
    background: rgba(200, 221, 142, .9);
    margin-left: 180px;
    padding: 2em;
    max-width: 700px;
	max-height: 540px;
	overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 1em;
    h2 {
        color: #fff;
        font-size: em(40);
        margin-top: 0;
    }
	h3 {
		font-size: 1em;
	}
}

/* well */
.well {
	background: rgba(200, 221, 142, .9);
	padding: .1px 5% 1em 5%;
}

/* buttons */
.button {
	display: inline-block;
	background: $blue;
	color: #fff;
    font-size: 1.2em;
	padding: 0.5em 2em;
	margin: 0.5em 0;
	text-decoration: none;
    border-radius: 3px;
    transition: box-shadow 0.5s ease;
	&.download:after {
		content: "\21a7";
		margin-left: 3px;
	}
	&:hover {
		box-shadow: 3px 3px 0 #ccc;
	}
    &:active {
        box-shadow: none;
    }
}

/* cirriculum */
.cirriculum {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	&> section {
		width: 50%;
		padding: 0 3em 0 0;
	}
}