body {
    font-family: 'PT Sans Narrow', sans-serif;
}
h1 {
    font-size: 5vw;
    @media only screen and (min-width: 720/16*1em) {
        font-size: 3vw;
    }
    font-family: 'PT Mono', monospace;
    color: #d7422a;
    text-align: center;
    margin: 0 0 1rem 0;
    &.yellow {
        color: #FDC033;
    }
    &.blue {
        color: #2473B6;
    }
}
h2 {
    font-family: 'PT Mono', monospace;
    //font-size: 4em;
    color: #d7422a;
    line-height: 1.2; 
    margin-bottom: 0;
}
h3 {
    font-family: 'PT Mono', monospace;
    font-size: 1.4em;
    margin-top: 2em;
}
h4 {
    font-size: 1em;
	margin: 1.5em 0 0.8em 0;
    text-transform: uppercase;
    color: $yellow;
    letter-spacing: 1px;
}
h5 {
    font-size: 1.2em;
	margin: 1.5em 0 0.8em 0;
}
h6 {
    font-size: 1em;
    margin-bottom: 0;
}
p {
    font-size: 1.125em;
    &.intro {
        font-family: 'PT Serif', serif;
        font-size: 2em;
        margin: 2em 0 3em 0;
        small {
            display: block;
            font-size: 1.125/2*1em;
            margin: 1em;
        }
    }
}
li {
    
}
p, li {
	line-height: 1.8;
	max-width: 30em;
}